<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div th:replace="template::stylesheet">

    </div>
<script>

    $(document).ready(function () {
        $("#template").hide();

        $(".ainstance").click(function () {
            $("#instance").show();
            $("#template").hide();
            $(this).addClass('active')
            $('.atemplate').removeClass('active'); 
            $("#topo").html("");
        });

        $(".atemplate").click(function () {
            $("#instance").hide();
            $("#template").show();
            $(this).addClass('active')
            $('.ainstance').removeClass('active');
            $("#topo").html("");
        });
        
        $("#deploy").click(function () {
        	var data='2f529fa3-62e2-47f0-8dfb-6cc2d0388908';
            $("#instance").show();
            $("#template").hide();
            $('.ainstance').addClass('active')
            $('.atemplate').removeClass('active');    
            $("#nsdid").html(data);
            
    		$.ajax({
				contentType: "application/json",
				crossDomain: true,
				type : "GET",
				url : "/orch/deploy/" + data,
				data : data,
				success : function(response) {
					showalert("Deploying 'HeartRateMonitoring' application ...","alert-warning");

				},
				error : function(response) {
					showalert("Error!!!","alert-warning");
				}
			});            
            
        });        
        
	    $("#showtopo").click(function(){
	    	//var divContent = $('#topo').text();
	    	//alert(divContent);
	    	$("#topo").html("");
	    	newFrame = document.createElement("iframe");
	    	newFrame.setAttribute("src", "out.html");
	    	newFrame.setAttribute("width", "800");
	    	newFrame.setAttribute("height", "400");
	    	newFrame.setAttribute("frameborder", "0");
	    	newFrame.setAttribute("scrolling", "no");
	    	//$('#topo').append("<br>");
	    	$('#topo').append(newFrame);
	    	showalert("...","alert-info");
	    });        

		var socket = new SockJS('/demo');
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame) {
			console.log('Connected: ' + frame);
			stompClient.subscribe('/data/notification', function(alarm) {
				showalert(alarm.body,"alert-info");
			});
		});	    
	
    });
    
    
	function showalert(message,alerttype) {
	    $('#noti').append('<div id="alertdiv" class="alert ' +  alerttype + '"><span>' + getTimeStamp() + ': ' + message + '</span></div>')
	    setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 10 secs
	      $("#alertdiv").remove();
	    }, 10000);
	  }
	  
	function getTimeStamp() {
	    var now = new Date();
	    return ( '<strong>' + now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + (now.getDate()) + " " +
		     now.getHours() + ':' +
		     ((now.getMinutes() < 10)
			 ? ("0" + now.getMinutes())
			 : (now.getMinutes())) + ':' +
		     ((now.getSeconds() < 10)
			 ? ("0" + now.getSeconds())
			 : (now.getSeconds())) + '</strong>');
	} 
    
</script>

</head>

<body class="skin-blue">


<div class="wrapper">


    <div th:replace="template::topmenu">

    </div>

    <div th:replace="template::main-sidebar">

    </div>
    <div class="content-wrapper">

        <section  style="margin-top: -15px; margin-left: 23px; margin-right: 11px;" id="main">

            
			<br>
            <h3>Applications<br/>
                <small></small>
            </h3>

            <ul class="secondary">
                <li><a id="menu-dashboard" class="active ainstance" href="#">Instances / Records</a></li>
                <li><a id="menu-applications" class="atemplate" href="#">Templates / Descriptors</a></li>
                
            </ul>

            <ul id="instance" class="card">
                <li class="component">
                    <div class="icon"><span class="fa fa-bolt"></span></div>
                    <div class="actions pull-right">

                      
                        <a href="#" class="btn text-success" ><span class="fa fa-bars" id="showtopo"> Graph</span></a>
                        <a class="btn text-danger" ><span class="fa fa-ban"></span> Undeploy</a>
                    </div>

                    <div class="title"><a href="141759f6-295f-436c-b8c3-98825001e227">
                        <span>HeartRateMonitoring</span></a>
                        <span class="version">1.0</span>
                        <span  class="status-running">RUNNING</span>
                        <!-- span  class="status-deploy">DEPLOYING</span--></div>
                    <div class="author">TUB </div>
                    <hr/>
                    <div class="meta">ID: <span id="nsdid"></span></div>
                    
                    <div id="topo"></div>
                    <br>
                    
                    <!--<ul class="label"><li class="key">Components</li><li class="value" th:text="..."></li></ul>-->
                </li>
                <br>
                <div id="noti"></div>
            </ul>

            <ul id="template" class="card">
            
          
            	<!-- a href="" class="create"><span  class="glyphicon glyphicon-plus"></span> New Template</a-->
            	<br>
                <li class="component">
                    <div class="icon"><span class="fa fa-bolt"></span></div>
                    <div class="actions pull-right">
                        <div class="actions pull-right">
                            <a id="deploy" class="btn text-success"><span class="fa fa-bolt"></span> Deploy</a>
                            <a href="/addnewtemplate" class="btn text-success" ><span class="fa fa-bars"></span> Edit</a>
                            <a class="btn text-danger" ><span class="fa fa-ban"></span> Delete</a>
                        </div>
                    </div>

                    <div class="title">
                        <span  class="status-deploy">HeartRateMonitoring</span></div>
                    <div class="author">TUB</div>
                    <hr/>
                    <div class="meta">ID: <span>2f529fa3-62e2-47f0-8dfb-6cc2d0388908</span></div>
                    <ul class="label"><li class="key">Components</li>
                        <!-- <li class="value" th:text="${application.getGroundedComponentNames()}"></li></ul> -->
                    <li class="value">RPMUI, HeartRate</li></ul>
                </li>
                
                <li class="component">
                    <div class="icon"><span class="fa fa-bolt"></span></div>
                    <div class="actions pull-right">
                        <div class="actions pull-right">
                            <a  class="btn text-success"><span class="fa fa-bolt"></span> Deploy</a>
                            <a href="/addnewtemplate" class="btn text-success" ><span class="fa fa-bars"></span> Edit</a>
                            <a class="btn text-danger" ><span class="fa fa-ban"></span> Delete</a>
                        </div>
                    </div>

                    <div class="title">
                        <span  class="status-deploy">IntergratedAccessControl</span></div>
                    <div class="author">FOKUS</div>
                    <hr/>
                    <div class="meta">ID: <span>2f529fa3-62e2-47f0-8dfb-6cc2d0388909</span></div>
                    <ul class="label"><li class="key">Components</li>
                        <!-- <li class="value" th:text="${application.getGroundedComponentNames()}"></li></ul> -->
                    <li class="value">IdentityAccessControlEnabler</li></ul>
                </li>
                
                <li class="component">
                    <div class="icon"><span class="fa fa-bolt"></span></div>
                    <div class="actions pull-right">
                        <div class="actions pull-right">
                            <a  class="btn text-success"><span class="fa fa-bolt"></span> Deploy</a>
                            <a href="/addnewtemplate" class="btn text-success" ><span class="fa fa-bars"></span> Edit</a>
                            <a class="btn text-danger" ><span class="fa fa-ban"></span> Delete</a>
                        </div>
                    </div>

                    <div class="title">
                        <span  class="status-deploy">LocationTracking</span></div>
                    <div class="author">FOKUS</div>
                    <hr/>
                    <div class="meta">ID: <span>2f529fa3-62e2-47f0-8dfb-6cc2d0388910</span></div>
                    <ul class="label"><li class="key">Components</li>
                        <!-- <li class="value" th:text="${application.getGroundedComponentNames()}"></li></ul> -->
                    <li class="value">LocationTrackingEnabler</li></ul>
                </li>                
                
                
            </ul>




        </section>


    </div>

</div>
</div>
</div><!-- /.box -->


</div>

<div th:replace="template::footer">
</div>


<div th:replace="template::script">

</div>

</body>

</html>